@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --default-font-family: "DM Sans", sans-serif;
  --color-olur: #fb6b3d;
  --color-brolur: #32150c;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  }
}

.text-trim {
  text-box: trim-both cap alphabetic;
}

.parts-titles {
  @apply relative max-sm:order-2 max-sm:w-full w-1/2 max-sm:h-max h-full flex flex-col justify-between max-sm:gap-8 bg-[beige];
}

.parts-card {
  @apply flex flex-col justify-end w-full h-full px-7 py-6 bg-black/50;
}
.parts-c-base {
  @apply w-[400px] max-sm:w-[350px] h-[300px] rounded-3xl bg-cover overflow-hidden;
}

.roles-ctr {
  @apply overflow-y-hidden;
}

.run-cards {
  @apply mt-[15vw] bg-olur h-100 w-full px-28 flex;
}
.ref-video {
  @apply w-auto h-full aspect-[9/16] object-cover rounded-3xl;
}

.btn-foot {
  @apply cursor-pointer hover:bg-white hover:text-olur transition-all duration-75 px-5 py-4 border border-solid border-white rounded-full;
}
.img-foot {
  @apply max-sm:hidden opacity-0 hover:opacity-100 absolute w-[200px] aspect-[9/16] object-cover rounded-3xl transition-all duration-100 ease-in;
}
